.flex {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.main {
    display: flex;
    flex-wrap: wrap;
    background-color: navy;
    margin: auto 300px;
    justify-content: space-around;
}